:root {
  --primary-color: #340653;
  --secondary-color: #ba2fc7;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}
button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: #ba6868;
  border-radius: 8px;
}
* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
